:root{
    --color-border-light: rgb(219, 219, 219);
    --color-border-light-bold: rgb(99, 99, 99);
    --text-color: black;
    --bg-color: white;

    --font-size-medium: 20px;
    --font-size-big: 30px;
    --font-size-very-big: 40px;

    --font-very-thin: 200;
    --font-thin: 400;
    --font-medium: 600;
    --font-bold: 800;
}
  
html{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: var(--font-medium);
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: var(--bg-color);
}

#root{
    display: grid;
    grid-template-rows: auto 1fr;
}