.education__section{
    width: 80%;
    justify-self: center;
    margin-top: 4rem;

    color: var(--text-color);

    div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;

        img{
            width: 100%;
            max-height: 100%;
        }
    }
}

@media screen and (min-width: 1000px){
    .education__section{
        div{
            grid-template-columns: 1fr 1fr 1fr !important;
            grid-template-rows: 1fr !important;
    
            img{
                height: 100% !important;
            }
        }
    }
}