.resume__section{
    width: 100vw;
    justify-self: center;
    margin-top: 4rem;

    background-color: rgb(41, 41, 41);

    color: var(--text-color);

    .contact__container{
      width: 80%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      gap: 2rem;
      align-items: center;
      padding: 2rem 0;

      p{
        line-height: 1.5rem;
      }

      form{
  
        input, textarea{
          color: var(--text-color);
        }
  
        input:focus, textarea:focus{
          border: none;
          outline: solid 2px black;
        }
  
        button{
          align-self: flex-end;
        }
      }
    }

    .contact__container__footer{
      width: 80%;
      border-top: solid 1px white;
      padding: 2rem 0;

      a{
        color: var(--text-color);
      }
    }
}

@media screen and (min-width: 1000px){
  .contact__container{
    grid-template-columns: 1fr 1fr !important;
    grid-template-rows: 1fr !important;
    gap: 10% !important;
    
    form{
      margin-top: 3rem;
    }
  }
}