.skills__section{
    width: 80%;
    padding: 4rem 0;
    max-height: 90vh;
    justify-self: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 2rem;

    color: var(--text-color);

    h2{
        font-size: var(--font-size-big);
    }
}

@media screen and (min-width: 1500px){
    .skills__section{
        padding: 8rem 0 !important;
    }
}